<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastros de Produtos - Listar</title>
</head>
<body>
    <center>
    <h1>Cadastro de Produtos</h1>
    <hr>
        <form method="POST">
            <input type="text" name="pesquisa" placeholder="Pesquisar">
            <input type="submit">
        </form>
        <table>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Codigo de Barra</th>
                <th>Preço</th>
                <th>Edita</th>
                <th>Deleta</th>
            </tr>
             <tr>
                <th>1</th>
                <th>Açucar</th>
                <th>789546325145</th>
                <th>10,90</th>
                <th>Edita</th>
                <th>Deleta</th>
            </tr>
        </table>
    </center>
</body>
</html>